h1 {
    font-size: 42px;
    margin-top: 40px;
}

h2 {
    font-size: 27px;
    margin-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    font-weight: 100;
    text-transform: uppercase;

}

p {
    font-size: 18px;
    max-width: 750px;
}

body {
    font-family: calibri, Arial, Helvetica, sans-serif;
    font-weight: 100;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px;
}

a:link {
    color: rgb(168, 109, 147);
}

a:visited {
    color: rgb(235, 88, 179);
}

a:hover {
    color: rgb(244, 158, 215);
}

a:active {
    color: rgb(247, 20, 173);
}

li {
    margin-bottom: 5px;
}

figure {
    margin-left: 0;
}

caption {
    font-size: 27px;
    margin-top: 40px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
}

th {
    text-align: left;
    padding-right: 30px;
}

td {
    padding-right: 30px;
    padding-top: 10px;
}

input {
    margin-left: 10px;
    padding: 10px;
    border: none;
    background-color: rgb(247, 247, 247);
}

textarea {
    border: none;
    background-color: rgb(247, 247, 247);
}

fieldset {
    max-width: 400px;
}

button {
    padding: 10px;
    border: none;
    font-family: sans-serif;
    background-color: rgb(178, 109, 147);
    color: rgb(247, 247, 247);
}

button:hover {
    background-color: rgb(117, 41, 90);
}